*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/pexels-chevanon-photography-325044.jpg);
    background-size: cover;
    background-position: left 250px top -120px;
}

h1{
    font-family: 'Nabla', cursive;
    font-size: 75px;
}

button{
    margin-left: 17%;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(142, 13, 13);  
    background-color: orangered;
    border: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    width: 25%;
    margin-left: 12%;
    box-shadow: 8px 8px 8px rgb(142, 13, 13);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}